$primaryColor: #000000; 
$secondaryColor: #FFFFFF;
$tertiaryColor: #B5235C;
$quadrupleColor: #2a2a5c;
$greyColor: #4d4d4d;

$defaultFont:'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;